<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="http://www.map10000.com/"><img src="http://www.map10000.com/assets/img/logo_big.png" alt=""></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="javascript:;">我的云图</a></li>
        <li><a href="javascript:;">消息中心</a></li>
        <li><a href="javascript:;">账户中心</a></li>
          <li><a href="javascript:;">深圳市微科通信设备有限公司</a></li>
        <li><a href="javascript:;" class="logout-btn"><span >退出</span></a></li>
      </ul>
    </div>
  </div>
</nav>
